* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: white;
}

#menu-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.menu {
    background-color: #00A896;
    padding: 10px;
}

.menu>li>a {
    color: black;
    text-decoration: none;
}

.menu>li>a:hover {
    color: white;
    text-decoration: none;
}

.landing-page {
    height: 100vh;
    background: url('../img/mountainsunrise.jpg') no-repeat;
    background-size: 100%;
}

.fuzz {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.jumbotron {
    font-size: 12em;
    color: white;
    padding-top: 30vh;
}

.icon-div {
    z-index: 20;
    width: 100%;
}

.landing-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {}

.row {
    padding-left: 0px;
    padding-left: 0px;
}

.hidden {
    opacity: 0;
}

.columns {
    padding-left: 0px;
    padding-right: 0px;
}

.filler-one {
    height: 25vh;
    color: black;
    background-color: white;
}

.filler-one h3 {
    line-height: 25vh;
    font-size: 60px;
}

.about-section {
    border: none;
    padding: 0px;
}

.about-section>p {
    font-size: 20px;
}

.about-left {
    padding: 5vh 5vh 5vh 5vh;
    height: 40vh;
    background-color: #02C39A;
    margin: 0px 20px 0px 20px;
}

.about-center {
    padding: 5vh 5vh 5vh 5vh;
    height: 40vh;
    background-color: #05668D;
    margin: 0px 20px 0px 20px;
}

.about-right {
    padding: 5vh 5vh 5vh 5vh;
    height: 40vh;
    background-color: #028090;
    margin: 0px 20px 0px 20px;
}

.filler-two {
    background-size: 100%;
    height: 35vh;
}

.portfolio {
    background-color: #028090;
    height: 100vh;
    color: black;
    line-height: 25vh;
}

.tech-stack {
    height: 70vh;
    background-color: #F0F3BD;
    color: black;
}



/* FOOTER INFORMATION */
footer {
    height: 30vh;
    color: black;
    background-color: #00A896;
}

footer h4 {
    padding-top: 20px;
    font-size: 30px;
}

footer>ul>li {
    display: inline-block;
}

.footer-a-color{
    color: black;
}

.footer-a-color:hover {
    color: white;
}