    /* GLOBAL PAGE CSS*/

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: white;
}

a {
    color: black;
}


/* MENU CSS  ////////////////////////////////*/

#menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.menu, .top-bar, .top-bar ul{
    background-color: #00A896;
    max-width: 100%;
}

.top-bar-title {
    font-size: 2rem;
}

.top-bar-title>a{
 color: white;
}

.top-bar-title>a:hover {
    color: white;
}

.top-bar ul>li>a {
    color: white;
    text-decoration: none;
    letter-spacing: .11em;
}

.menu>li>a {
    padding: 1rem;
}

.menu>li>a:hover {
    color: #333;
    text-decoration: none;
}

/* LANDING SECTION */

.landing-page {
    height: 100vh;
    background: url('../img/feet.jpeg') no-repeat;
    background-size: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}

.fuzz {
    vertical-align: middle;
    z-index: 10;
}

.jumbotron {
    padding-top: 25vh;
    font-size: 11vw;
    color: #333;
}

.landing-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.0);
    height: auto;
}

.landing-icon:hover {
    background-color: rgba(0, 0, 0, 0.0);
}

h1 {}

.row {
    padding-left: 0px;
    padding-left: 0px;
}

.hidden {
    opacity: 0;
}

.hidden-button {
    opacity: 0;
}

.columns {
    padding-left: 0px;
    padding-right: 0px;
}


/* ABOUT SECTION BEGINS ////////////////////////*/

.filler-one {
    height: 30vh;
    color: black;
}

.filler-one h3 {
    line-height: 30vh;
    font-size: 60px;
}

.about-section {
    border: none;
    padding: 0px;
}

.about-section>p {
    font-size: 20px;
}

.about-left {
    padding: 40px;
    background-color: #02C39A;
    margin: 0px 20px;
    min-height: 500px;
    max-height: 900px;
}

.about-right {
    padding: 20px 30px 20px 30px;
    background-color: #05668D;
    margin: 0;
    min-height: 500px;
    font-weight: 500;
    letter-spacing: .11em;
}

.about-image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.filler-two {
    background-size: 100%;
    height: 20vh;
}


/* END ABOUT SECTION*/


/* PORTFOLIO CSS*/

.portfolio {
    background-color: #028090;
    color: white;
}

.portfolio-title {
    font-size: 60px;
    padding-top: 60px;
}

.portfolio-item {
    min-height: 25vh;
    margin: 0px 30px 60px 30px;
    align-content: middle;
    position: relative;
}

.portfolio-image {
    display: block;
    margin: auto;
    position: relative;
    width: 250px;
}

.portfolio-text {
    left: 0;
    bottom: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    opacity: 0;
    padding-top: 150px;
}

.portfolio-text:hover {
    opacity: 1;
}


/* TECH SECTION CSS*/

.tech-title {
    padding: 20px;
    padding-top: 10vh;
    font-size: 60px;
}

.tech-holder {
    padding-bottom: 30px;
}

.tech-stack {
    background-color: #F0F3BD;
    color: black;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.tech {
    display: block;
    position: relative;
    margin: 0 auto;
}

.tech-image {
    display: block;
    margin: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 20vh;
    padding-top: 30px;
    padding-bottom: 20px;
}

.tech .tech-words {
    display: block;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
    color: black;
    opacity: 0;
    background: #F0F3BD;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}



.tech .tech-words .tech-words-content {
    position: absolute;
    top: 50%;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .11em;
}

.tech:hover .tech-words {
    opacity: 1;
}

.node {
    padding-top: 4vh;
}


/* FOOTER INFORMATION */

footer {
    height: 40vh;
    color: black;
    background-color: #00A896;
}

footer h4 {
    padding-top: 20px;
    font-size: 50px;
}

.footer-container>ul>li {
    display: inline-block;
}

.footer-a-color {
    color: black;
}

.footer-a-color:hover {
    color: white;
}

// Small screens
@media only screen and {}


/* Define mobile styles */

@media only screen and (max-width: 40em) {

    .jumbotron {
        color: #fff;
    }
    .landing-icon {
        min-width: 50px;
        max-width: 128px;
    }
    .filler-one h3 {
    line-height: 30vh;
    font-size: 2em;
    }
    .about-left {
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-right {
        margin-top: 20px;
    }
    .menu-icon {
        padding-right: 10px;
    }
    .tech .tech-words {
        width: 100%;
    }
    .hidden-button {
        opacity: 1;
        margin-right: 1rem;
    }
}


/* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

    .landing-icon {
        min-width: 50px;
        max-width: 128px;
    }
    .about-left {
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-right {
        margin-top: 20px;
    }
    .about-image {
        max-height: 600px;
    }
    .tech-image {
        max-width: 200px;
    }
    .menu-icon {
        padding-right: 10px;
    }
    .hidden-button {
        opacity: 1;
        margin-right: 1rem;
    }
}
    
    /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
